<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{templates/layout}">
<head>
	<title>Tư vấn luật tự động</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div layout:fragment="content">
	<h4 class="font-w300 push-15">TƯ VẤN LUẬT TỰ ĐỘNG</h4>
	<th:block th:if="${!#strings.isEmpty(message)}">
		<div th:replace="fragments/alert :: alert (type='warning', message='Bạn chưa nhập nội dung tìm kiếm.')">
			Alert
		</div>
	</th:block>
	<form class="js-validation-material form-horizontal push-30-t" action="#" method="get" th:action="@{/search}">
		<div class="input-group input-group-lg">
			<input class="form-control" type="text" id="search-query" name="q" placeholder="Mô tả vấn đề bạn gặp phải">
			<div class="input-group-btn">
				<button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> Tìm</button>
			</div>
		</div>
	</form>

	<div class="block-content block-content-full bg-white">
		<div class="tab-pane fade fade-up active in">
			<div class="border-b push-30">
				<h3 class="push-10" style="color: #f3b760;">
					<div th:if="${#lists.isEmpty(results)}">
						<span class="h5 font-w400 text-muted">Không tìm thấy nội dung phù hợp.</span>
					</div>
					<div th:if="${!#lists.isEmpty(results)}">
						<span th:text="${#lists.size(results)}"></span> <span class="h5 font-w400 text-muted">nội dung được tìm thấy.</span>
					</div>
				</h3>
			</div>
			<!--result search-->
			<table th:if="${!#lists.isEmpty(results)}" class="table table-striped table-vcenter">
				<tbody>
				<tr th:each="result : ${results}">
					<td>
						<h3 class="h5 font-w600 push-10">
							<a class="link-effect" href="javascript:void(0)" th:text="${result.id}">Title ...</a>
						</h3>
						<!--<div th:each="item : ${result.highLight}">-->
							<!--<span th:utext="${item}" class="font-s13 text-muted hidden-xs">Content ...</span>-->
						<!--</div>-->
						<div class="font-s13 text-muted hidden-xs">
							<span th:utext="${result.content}">Content ...</span>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
			<div class="border-t" th:if="${!#lists.isEmpty(results)}">
				<ul class="pagination">
					<li class="disabled"><a href="javascript:void(0)">Prev</a></li>
					<li class="active"><a href="javascript:void(0)">1</a></li>
					<li><a href="javascript:void(0)">2</a></li>
					<li><span>...</span></li>
					<li><a href="javascript:void(0)">10</a></li>
					<li><a href="javascript:void(0)">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>